
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    /*background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */*/
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}
.screen1 {
            display: none;
          }

.screen2 {
    display: none;
}

.outter {
    text-align: center;
}

.map {
    background-color: black;
    border: 3px solid red;
    width: 200px;
    height: 200px;
    margin: auto;
          }

.egyptian {
    margin: auto;
    width: 200px;
}

.egypianbutton {
    background-color: yellow;
    width: 100px;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

div#ninefive {
  background-color: blue;
  height: 38px;
  width: 43px;
  position: absolute;
  top: 86px;
  right: 365px;
  z-index: 5px;
  opacity: 0;
}

div#ninefivecircle {
  background-color: #B18697;
  height: 60px;
  width: 60px;
  animation: circle_ninefive 0.3s ease-in;
  border-radius: 75px;
  position: absolute;
  top: 20px;
  right: 662px;
  z-index: 5px;
  opacity: 1;
}

div#european {
  background-color: yellow;
  height: 120px;
  width: 50px;
  position: absolute;
  top: 137px;
  right: 422px;
  z-index: 5px;
    opacity: 0;
}

div#europeancircle {
  background-color: #A45141;
  height: 60px;
  width: 60px;
  animation: circle_european 0.6s ease-in;
  border-radius: 75px;
  position: absolute;
  top: 222px;
  right: 665px;
  z-index: 5px;
  opacity: 1;
}

div#american {
  background-color: red;
  height: 50px;
  width: 65px;
  position: absolute;
  top: 158px;
  right: 220px;
  z-index: 5px;
  opacity: 0;
}

div#americancircle {
  background-color: #EBB120;
  height: 60px;
  width: 60px;
  animation: circle_american 0.9s ease-in;
  border-radius: 75px;
  position: absolute;
  top: 115px;
  right: 25px;
  z-index: 5px;
  opacity: 1;
}


div#temple {
  background-color: blue;
  height: 100px;
  width: 70px;
  position: absolute;
  top: 206px;
  right: 128px;
  z-index: 5px;
  opacity: 0;
}

div#templecircle {
  background-color: #B58C72;
  height: 60px;
  width: 60px;
  animation: circle_temple 1.2s ease-in;
  border-radius: 75px;
  position: absolute;
  top: 243px;
  right: 12px;
  z-index: 5px;
  opacity: 1;
}

div#btnHome {
  background-color: #6B79AA;
  height: 20px;
  width: 160px;
  /*animation: circle_temple 1.2s ease-in;*/
  border-radius: 75px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 5px;
  opacity: 1;
}

img#imgMap {
  width: 100%;
  top: 0px;
  position: absolute;
  z-index: -3;
}

@keyframes circle_american {
  0% {
    width: 0px;
    height: 0px;
    top: 145px;
    right: 25px;
    background-color: #EBB120;
    opacity: 0;
  }
  100% {
    width: 60px;
    height: 60px;
    top: 115px;
    right: 25px;
    background-color: #EBB120;
    opacity: 1;
  }
}

@keyframes circle_european {
  0% {
    width: 0px;
    height: 0px;
    top: 230px;
    right: 690px;
    background-color: #A45141;
    opacity: 0;
  }
  100% {
    width: 60px;
    height: 60px;
    top: 222px;
    right: 665px;
    background-color: #A45141;
    opacity: 1;
  }
}

@keyframes circle_ninefive {
  0% {
    width: 0px;
    height: 0px;
    top: 40px;
    right: 670px;
    background-color: #B18697;
    opacity: 0;
  }
  100% {
    width: 60px;
    height: 60px;
    top: 20px;
    right: 662px;
    background-color: #B18697;
    opacity: 1;
  }
}

@keyframes circle_temple {
  0% {
    width: 0px;
    height: 0px;
    top: 260px;
    right: 10px;
    background-color: #B58C72;
    opacity: 0;
  }
  100% {
    width: 60px;
    height: 60px;
    top: 243px;
    right: 12px;
    background-color: #B58C72;
    opacity: 1;
  }
}

#backButton{
  /*position: absolute;*/
  z-index: 99;
  bottom: 100px:
  left: 20px;
  padding: 20px;
  background-color: white;
}
